body {
    padding-top: 54px;
    font-family: 'Raleway', sans-serif;
  }

  .navbar-brand {
      font-weight: 700;
  }

  .nav-link {
      font-weight: 500;
  }

 .card1 {
    margin-left: 25%;
 }

 #welcome {
     padding-bottom: 5px;
    -webkit-box-shadow: 0 4px 6px -6p teal;
    -moz-box-shadow: 0 4px 6px -6px teal;
    box-shadow: 0 4px 6px -6px teal;
 }

 .btn-primary {
     font-weight: 500;
 }

.upgrade {
    border: 4px solid #17a2b8;
    padding: 1em;
}

