<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>
      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4 text-center">
          <h1 class="display-3 text-info">Welcome to Blocipedia</h1>
          <p class="lead mt-4">Create your content.</p>
          <p class="lead">Share Markdown Wiki.</p>
          <a href="#" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <!-- Page Features -->
        <section class="row">

            <div class="card d" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Standard</h5>
                  <ul class="card-text text-secondary">-
                      <li>Unlimited public wikis</li>
                      <li>-Free</li>
                </ul>
                <section class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary">Join</a>
                </section>
                </div>
              </div>


              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Premium</h5>
                  <ul class="card-text text-secondary">-
                        <li>Standard Plus</li>
                        <li>Create private wikis</li>
                        <li>Click join to learn more</li>
                  </ul>
                  <section class="d-flex justify-content-center">
                  <a href="#" class="btn btn-primary">Join</a>
                </section>
                </div>
              </div>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->
      <% include ./partials/baseScripts.ejs %>
    </body>
</html>