<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container col-10">

      <% include ../static/partials/messages.ejs %>
      <h1 class="text-primary d-flex justify-content-center align-items-center">Your payment of $15.00 has been processed. You are now a premium member, Enjoy! </h1>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>